<!DOCTYPE html>
<html>
  <head>
    <title>Aryon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>RSS Reader</header>
    <div class="sidebar">
      <h2>Feeds</h2>
      {% include 'sidebar.html' %}
    </div>
    {% if articles %}
      <div class="articles">
        <h2>Articles</h2>
        {% include 'articles.html' %}
      </div>
    {% else %}
      <div class="articles">
        <h2>Articles</h2>
        <p>No articles to display.</p>
      </div>
    {% endif %}
  </body>
</html>
